.registration-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.registration-form__error {
  font-size: 14px;
  font-family: sans-serif;
  padding-left: 20px;
}

.registration-form__error li::marker {
  color: var(--color__error);
}
